<div>

  <h3>edicion gold</h3>

  <form action="/movies/{{oneMovie._id}}/edit" method="post">

    <label for="title">Título</label>
    <input type="text" name="title" value="{{this.oneMovie.title}}" />

    <br />

    <label for="genre">Género</label>
    <input type="text" name="genre" value="{{this.oneMovie.genre}}" />

    <br />

    <label for="plot">Argumento</label>
    <input type="text" name="plot" value="{{this.oneMovie.plot}}" />

    <br />

    <label for="cast">Cast</label>
    <select name="cast" multiple>

      {{#each this.allCelebrities}}

        {{#if this.isSelected}}
          <option value="{{this._id}}" selected>{{this.name}}</option>
        {{else}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/if}}
      {{/each}}

    </select>

    <br />

    <button>Actualizar</button>

  </form>

</div>